*{
margin: 0;
padding: 0;
box-sizing: border-box;


}

body{
width: 100vw;
height: 100vh;
justify-content: center;
align-items: center;
background-color: #2c2c2c;
display: flex;

}
.digital-clock{
  width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  
}
h1{
  color:blue;
  margin-bottom: 15px;
}
.time{
  font-size:50px ;
  font-weight: 700;
  margin-bottom: 15px;
}

.date{
  font-size:16px ;
  font-weight: 300;
  color: #888;
  margin-bottom: 15px;
}
